.mainDetail{
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.detailclass{
    margin-top: 60px;
    display: flex;
    letter-spacing: 0.01rem;
    justify-content: space-between;
    align-items: center;
}

.flexydetail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-direction: column;
    width: 600px;
}

.detailsection{
    text-transform: capitalize;
}